.card {
  margin: 5.5rem;
  flex: 1 1 auto;
  position: relative;
}
.image {
  object-fit: cover;
  border: 2px solid black;
  transition: all 5s cubic-bezier(0.14, 0.96, 0.91, 0.6);
}
.info {
  position: absolute;
  top: 0%;
  left: 37%;
  background: white;
  padding: 1.5rem;
  text-align: left;
}

.form {
  position: absolute;
  bottom: 88%;
  left: 10%;
  background: white;
  padding: 1.5rem;
  text-align: left;
}

.a {
  position: absolute;
  top: 0%;
  left: 37%;
  background: white;
  padding: 1.5rem;
  text-align: left;
}
.defaultHero {
  min-height: calc(100vh - 66px);
  /* min-height: calc(70vh - 66px); */

  background: center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.defaultHeroRoom {
  margin-top: 5%;
  min-height: calc(80vh - 66px);
  background: center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  padding: 2rem 8rem;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
  color: rgb(194, 167, 167);
}
.banner div {
  width: 10rem;
  height: 5px;
  background: #af9a7d;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: rgb(199, 190, 190);
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
